*{margin: 0; padding: 0;
}
html,body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
}
li{list-style: none;}
a{text-decoration: none;}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}
.container{
    min-width: 480px;
    max-width: 768px;
    margin: 0 auto;
}
.pop-up-wrap{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background:rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
}
.btn-close{
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 300px;
}
.btn-close>span{
    display: block;
    width: 25px;
    height: 1px;
    background-color: #fff;
}
.btn-close>span:first-child{
    transform: rotate(45deg);
}
.btn-close>span:nth-child(2){
    transform: rotate(-45deg);
}
.pop-up{
    background-color: #fff;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
    z-index: 5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}
.logo{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo>img{
    width: 100%;
}
.menubar{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.menubar>i{
    font-size: 22px;
}
.gnb{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: width 2s, height 2s,opacity 1s,z-index 1s;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ .gnb{
    z-index: 10;
    opacity: 1;
    width: 2000px;
    height: 2000px;
}
input[type=checkbox]:checked ~ .gnb>.menu-list{
    height: auto;
}
.menu-list li{
    margin: 20px;
}
.menu-list li>a{
    font-size: 20px;
    color: #fff;
}
.menu-list li>a>i{
    margin-left: 10px;
    animation: arrow .8s infinite;
}
.gnb>.fa-xmark{
    cursor: pointer;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    margin-left: 210px;
}
.login{
    margin-right: 5px;
}
.login,
.sign-up{
    background-color: transparent;
    color: #fff;
    padding:8px 15px;
    border: 1px solid #fff;
}
.login:hover,
.sign-up:hover{
    transition: all .3s ease-out;
    border-color: #474747;
}
@keyframes arrow {
    from{transform: translateX(0);}
    to{transform: translateX(8px);}    
}
.men,
.women{
    color: #fff;
    border: 1px solid red;
}
.menu-list2>li>a{
    color: #fff;
    font-size: 16px;
}
.hot-menu{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.hot-menu i{
    font-size: 20px;
}
.searchBtn{
    margin-right: 10px;
}
.search{
    display: none;
    position: relative;
    left: auto;
    width: 100%;
    height: 60px;
    background-color: #fff;
    justify-content: center;
}
.search.on{
    display:flex;
}
.search i{
    font-size: 23px;
}
.search>form{
    width: 90%;
}
.search>form>label{
    line-height: 60px;
}
.search input[type=text]{
    width: 100%;
    height: 30px;
    padding: 5px;
   border-radius: 0;
    border: none;
   outline: none;
   margin: 0 10px;
}
.menubar:hover.menubar>i,
.searchBtn:hover.searchBtn>i,
.cart:hover.cart>i{
    transition: all .4s;
    color: rgb(66, 66, 66);
}
video::-webkit-media-controls-panel{
    display: none;
}
.new-item{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow-x: scroll;}
.new-item::-webkit-scrollbar{
    width: 50px;
    height: 15px;
}
.new-item::-webkit-scrollbar-track{
    background-color: transparent;
}
.new-item::-webkit-scrollbar-thumb{
    background-color: #a0a0a0;
    border-radius: 100px;
}
.new-item>h2{
    margin: 0 0 15px 20px;
}
.img-list{
    margin-left: 20px;
    width: 1360px;
}
.img-item{
    float: left;
    width: 320px;
    margin-right: 20px;
    position: relative;
    color: #fff;
}
.img-item>a>img{
    width: 100%;
}
.imgBtn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.imgBtn>h3{
    color: #fff;
    margin-bottom: 20px;
}
.imgBtn>button{
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
}
.imgBtn>button:hover{
    transition: all .4s ease-out;
    background-color: #000;
    color: #fff;
}
article{
    margin-top: 50px;
}
.banner{
    width: 100%;
    height: 170px;
    background: url(./image/m_image/banner-image.jpg) center/cover no-repeat;
    position: relative;
}
.banner>div{
    position: absolute;
    top: 18px;
    left: 35px;
}
.banner h3,
.banner p{
    color: #fff;
     text-shadow:0px 2px 5px rgb(0,0,0,0.3);
}
.banner h3{
    font-size: 25px;
}
.banner p{
    margin-bottom: 35px;
}
.banner a{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 20px;
}
.banner a:hover{
    transition: all .4s ease-out;
    background-color: #fff;
    color:rgb(157, 172, 192);
}
.gift{
    margin-top: 80px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}
.gift>img{
    transform: scale(1.2);
  
    margin-left: 20px;
    margin-right: 20px;
   width: 87%;}
.gift>img:hover{
transform: scale(1);
}
.gift-content{
    margin:30px 0 0 20px;}
.gift-content>h2{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.giftBtn{
    margin: 30px 0 0 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.giftBtn>a{
    background-color: #aa883b;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    margin-right: 5px;
}
.giftBtn>a:hover{
    transition: all .3s ease-out;
   background-color: #ac9767;
}
.jacket-finder{
    width: 100%;
    height: auto;
    margin-top: 80px;
}
.jacket-finder>img{
    width: 87%;
    margin-left: 20px;
    margin-right: 20px;
}
.finder-content{
    margin:30px 0 0 20px;
}
.finder-content>h2{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.finderBtn{ 
    margin: 30px 0 0 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.finderBtn>a{
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    margin-right: 5px;
}
.finderBtn>a:hover{
    transition: all .3s ease-out;
    background-color: rgb(66, 66, 66);
}
@keyframes slide {
    from{transform: translatex(-100px);
        opacity: 0;}
    to{transform: translatex(0);
        opacity: 1;}
}
@keyframes disappear{
    from{transform: translatex(0);
        opacity: 1;}
    to{transform: translatex(-100px);
        opacity: 0;}
}
footer{
    margin-top: 80px;
    position: relative;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}
footer>span{
    padding: 16px;
    display: block;
    cursor: pointer;
}
footer>hr{
    border-color: #474747;
    margin: 0 5px;
}
footer>span>i{
    position: absolute;
    top: 17px;
    right: 15px;
}
.accordion{
    transition: height .4s;
    height: 0;
    opacity: 0;
    padding: 8px 15px;
}
.accordion.active{
    height: 100px;
    opacity: 1;
}
.fa-plus.active{
    transform: rotate(45deg);
    transition: transform .4s ease-out;
}
.accordion>li{
    margin-bottom: 5px;
}
.accordion>li>a{
    font-size: 13px;
    color: #7e7e7e;
}
.accordion>li>a:hover{
    color: #fff;
}
.help>hr{
    border-color: #3a3a3a;
    margin:0 5px;
}
.sns{
    margin-top: 10px;
}
.sns>ul{
    display: flex;
}
.sns li{
    margin: 10px;
}
.sns>ul>li>a{
    color: #7e7e7e;
}
.sns>ul>li>a:hover{
    transition: all .4s ease-out;
    color: #fff;
}
.sns>ul>li>a>i{
    font-size: 20px;
}
footer>div:nth-of-type(2){
    font-size: 13px;
    color: #7e7e7e;
    display: flex;
    flex-direction: column;
    padding: 8px 15px 20px 15px;
}
.go-top,
.go-bottom{
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: fixed;
    right: 20px;
    text-align: center;
    line-height: 36px;
    opacity: .8;
    cursor: pointer;
}
.go-top:hover,
.go-bottom:hover{
    background-color: rgb(100, 100, 100);
    color: #fff;}
.go-top{
    bottom: 65px;
}
.go-bottom{
    bottom: 20px;
}